/* Container dos resultados da busca */
#resultado {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Card individual de cada resultado */
.filme-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(33.333% - 20px);
    min-width: 200px;
    text-align: center;
    box-sizing: border-box;s
}

/* Iframes do YouTube dentro dos cards */
.filme-card iframe {
    /* Estilize o iframe do yotube aqui */
}